<div class="container">
    <h1 class="text-center">About Us</h1>

    <p class="text-justified">
        Qatar Foundation for Education, Science and Community Development (Arabic: مؤسسة قطر) is a state-led non-profit organization in Qatar, founded in 1995 by then-emir Hamad bin Khalifa Al Thani and his second wife Moza bint Nasser Al-Missned. Qatar Foundation (QF), chaired by Moza bint Nasser, has spearheaded Qatar's endeavors to establish itself as a leader in education, science, and cultural development on both a regional and global scale.        
    </p>
    <p class="text-justified">
        According to the Qatar Foundation, its initiatives are oriented towards education, science and research, and community development. It has solicited a number of international universities to establish campuses in Qatar. The Qatar Foundation's activities have been characterized by critics as influence peddling or lobbying.
    </p>

    <h5>K–12 education</h5>
    <p class="text-justified">
        In primary and secondary education, Qatar Foundation has several initiatives. Examples include establishing five Qatar Academy branches, opening Awsaj Academy, a school for children with learning difficulties, and opening Qatar Leadership Academy in collaboration with the Qatar Armed Forces. Furthermore, the foundation launched the Academic Bridge Program, a post-secondary school program that helps students transition from high school to university.        
    </p>

    <h5>Higher education</h5>
    <p class="text-justified">
        In higher education, Qatar Foundation established branch campuses of eight international universities and one home-grown university at the main campus just outside Doha:        
    </p>

</div>

